<!DOCTYPE html>
<html>

  {% include head.html %}

  <body> 
    {% include header.html %}
    <nav class="w3-bar w3-border w3-light-grey">
        <a href="/flashbacks" class="w3-bar-item w3-button"><b>Flashbacks</b></a>
        <a href="/essays" class="w3-bar-item w3-button"><b>Essays</b></a>
        <a href="/mitoc" class="w3-bar-item w3-button"><b>MITOC</b></a>
        <a href="/birds.html" class="w3-bar-item w3-button"><b>Birds of Debre Birhan</b></a>
        <a href="/about.html" class="w3-bar-item w3-button w3-right"><b>About</b></a>
    </nav>
    
    <div class="w3-container">
        {{ content }}
    </div>
    {% include footer.html %}

  </body>

</html>
